@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Basic&display=swap");

#tlt {
  font-family: "Spicy Rice", serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
}

ion-title {
  font-family: "Spicy Rice", serif;
  font-size: x-large;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Basic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #bcc1bb;
}

p {
  font-family: "Basic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.list {
  background: none;
}

.item {
  font-family: "Basic", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1em;
  border-radius: 10px;
}

ion-button {
  font-family: "Basic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
