// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #1d4427;
  --ion-color-primary-rgb: 29, 68, 39;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1a3c22;
  --ion-color-primary-tint: #34573d;

  --ion-color-tertiary: #470301;
  --ion-color-tertiary-rgb: 71, 3, 1;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #3e0301;
  --ion-color-tertiary-tint: #591c1a;

  --ion-color-danger: #ae0000;
  --ion-color-danger-rgb: 174, 0, 0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #990000;
  --ion-color-danger-tint: #b61a1a;

  --ion-color-light: #bcc1bb;
  --ion-color-light-rgb: 188, 193, 187;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #a5aaa5;
  --ion-color-light-tint: #c3c7c2;

  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 0, 0, 0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #000000;
  --ion-color-dark-tint: #1a1a1a;
}
